body,
html {
    margin: 0;
    background-color: black;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* Navigation section */

.display-flex {
    display: flex;
}

.display-flex--center-align {
    align-items: center;
}

nav {
    background: linear-gradient(to bottom, rgba(102, 78, 78, 0.7) 10%, rgba(0, 0, 0, 0));
    color: white;
}

.main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 68px;
}

.nav--wrapper {
    margin: 0 30px;
}

.main-nav ul {
    display: flex;
    flex-direction: row;
    flex: 1;
    list-style: none;
}

.header--logo {
    display: block;
    width: 6em;
    height: 25px;
    margin: auto;
}

.header--nav-list {
    display: flex;
    justify-content: space-between;
    font-weight: 100;
}

.list {
    justify-content: flex-end;
    padding-right: 5rem;
}

.list--list-item {
    margin: 0 13px;
}

.header--icon {
    margin: 0;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.main-nav a {
    text-decoration: none;
    color: white;
}


/* Main section */

.wrapper {
    background: url(https://occ-0-768-769.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABfgldln3res0WuZdeg-14YwqGMz_bdAUPfTSPCc_vzd3mshslhSN_adbYBXLyaM-i6US62mVXD2SsXt54MF0AVJfYO6_.webp?r=905);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.info {
    flex-direction: column;
    width: 35%;
    color: white;
    margin: 0 60px;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.main--logo {
    width: 40%;
}

main a {
    text-decoration: none;
}

.info--play {
    border: 1px solid white;
    border-radius: 5px;
    border-width: 12px 25px;
    background: white;
    color: black;
}

.info--play:hover {
    border-color: gray;
    background: gray;
}

.info--more {
    border: 1px solid gray;
    border-radius: 5px;
    border-width: 12px 35px;
    background: gray;
    color: white;
    margin-left: 10px;
}

.info--more:hover {
    border-color: rgba(39, 36, 36, 0.7);
    background: rgba(39, 36, 36, 0.7);
}

span {
    font-weight: bold;
    margin-left: 10px;
}

.info--rating {
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    margin-top: -5rem;
    margin-bottom: 3rem;
}

.rating--text {
    border: 3px solid white;
    border-style: none none none solid;
    padding: 0.5rem 2rem 0.5rem 1.4rem;
    background: rgba(51, 51, 51, .6);
}


/* Section */

.section--wrapper {
    background: linear-gradient(to top, rgba(8, 8, 8, 0.9), rgba(0, 0, 0, 0));
    margin-left: 60px;
}

h2 {
    color: white;
    font-size: inherit;
}

.movie-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.image {
    width: 100%;
    height: 200px;
}

.movie-list--item {
    transition: transform 500ms;
}

.movie-list:focus-within .movie-list--item,
.movie-list:hover .movie-list--item {
    transform: translateX(-25%)
}

.movie-list--item:focus~.movie-list--item,
.movie-list--item:hover~.movie-list--item {
    transform: translateX(25%)
}

.movie-list .movie-list--item:focus,
.movie-list .movie-list--item:hover {
    transform: scale(1.5);
}


/* Media Querries */

@media screen and (max-width: 1000px) {
    body,
    html {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 800px) {
    body,
    html {
        font-size: 1.1vw;
    }
}