body, html {
    margin: 0;
    background-color: black;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* Navigation section */

.display-flex {
    display: flex;
}

.display-flex--center-align {
    align-items: center;
}

nav {
    background: linear-gradient(to bottom,rgba(102, 78, 78, 0.7) 10%,rgba(0,0,0,0));
    color: white;
}

.main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 68px;
}

.nav--wrapper {
    margin: 0 30px;
}

.main-nav ul {
    display: flex;
    flex-direction: row;
    flex: 1;
    list-style: none;
}

.header--logo {
    display: block;
    width: 6em;
    height: 25px;
    margin: auto;
}

.header--nav-list {
    display: flex;
    justify-content: space-between;
    font-weight: 100;
}

.list {
    justify-content: flex-end;
    padding-right: 5rem;
}

.list--list-item {
    margin: 0 13px;
}

.header--icon {
    margin: 0;
    width: 30px;
    height: 30px;
}

.main-nav a {
    text-decoration: none;
    color: white;
}

.main-nav a {
    text-decoration: none;
    color: white;
}


/* Main section */

.wrapper {
    background: url(https://occ-0-768-769.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABfgldln3res0WuZdeg-14YwqGMz_bdAUPfTSPCc_vzd3mshslhSN_adbYBXLyaM-i6US62mVXD2SsXt54MF0AVJfYO6_.webp?r=905);
    background-size: cover;
    background-position: inherit;
}

main {
    padding-left: 2rem;
}

p {
    color: white;
}

main a {
    text-decoration: none;
}

.play {
    border: 1px solid white;
    border-radius: 5px;
    border-width: 5px 15px;
    background-color: white;
    color: black;
}

.info {
    border: 1px solid gray;
    border-radius: 5px;
    border-width: 5px 25px;
    background-color: gray;
    color: white;
}

.role {
    display: flex;
    flex-direction: row;
}

.rating {
    text-align: right;
}


/* Section */

section {
    padding-left: 2rem;
}

h2 {
    color: white;
    font-size: inherit;
}

section div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.image {
    width: 100%;
    height: 200px;
}

section a :hover {
    transform: scale(1.5);
}